.article {
  border-bottom: 1px solid #b1b1b1;
  margin: 0 0 4em;
  padding-bottom: 1em;
}

.article__date-author {
  font-size: .75em;
  font-style: italic;
}

.article__post-title {
  margin-bottom: .1em;
  font-size: 1.6em;
}

p img {
  display: block;
  margin: 25px auto 0 auto;
}

blockquote {
  font-style: italic;
  margin: 0 auto 25px auto;
  max-width: 400px;
  text-align: center;
}
