.footer__top-padding-div {
  background: white;
  height: 30px;
}

.footer {
  align-items: center;
  background: #4d4d4d;
  color: lightgrey;
  display: flex;
  font-size: .75em;
  height: 30px;
  justify-content: center;

  a {
    color: lightgrey;

    &:active,
    &:focus,
    &:hover {
      color: white;
      text-decoration: underline;
    }
  }
}

.footer__bottom-padding-div {
  height: 3px;
}
