$linear-gradient-beginning: #252525;
$linear-gradient-end: #0a0a0a;
$navbar-links-color: white;
$navbar-links-hover: lightgrey;

.header__image {
  display: block;
  margin: 0 auto;
}

.navbar {
  background: linear-gradient($linear-gradient-beginning, $linear-gradient-end);
}

.navbar__links {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 50px;

  li {
    margin: 0 20px;
  }

  a {
    color: $navbar-links-color;

    &:active,
    &:focus,
    &:hover {
      color: $navbar-links-hover;
      text-decoration: underline;
    }
  }
}
