.header__image {
  display: block;
  margin: 0 auto;
}

.navbar {
  background: #222; /* Show a solid color for older browsers */
  background: linear-gradient(#252525, #0a0a0a);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
}

.navbar__links {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 50px;

  li {
    margin: 0 20px;
  }

  a {
    color: white;

    &:active,
    &:focus,
    &:hover {
      color: lightgrey;
      text-decoration: underline;
    }
  }
}
