nav {
  background: #222; /* Show a solid color for older browsers */
  background: -moz-linear-gradient(#252525, #0a0a0a);
  background: -o-linear-gradient(#252525, #0a0a0a);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#252525), to(#0a0a0a)); /* older webkit syntax */
  background: -webkit-linear-gradient(#252525, #0a0a0a);
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
  // text-align: center;
  // padding: 6px 0 0 0;
}

nav ul {
  min-height: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

nav li {
  // display: inline-block;
  margin: 0 20px;
}

nav a {
  color: white;
}

nav a:active, nav a:focus, nav a:hover {
  color: lightgrey; 
  text-decoration: underline;
}
