@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@responsive {
  .nav-background {
    background-image: linear-gradient(#333333, #0a0a0a);
  }
}

.nav-links{
  @apply mx-3 mb-3 cursor-pointer;
}

.nav-links:hover{
  @apply underline text-gray-400;
}

h1{
  @apply text-3xl font-bold;
}

h2{
  @apply text-xl font-bold;
}

section a{
  color: #1565c0;
  cursor: pointer;
}

section a:hover{
  @apply underline text-blue-800;
}

.content-main {
  ol {
    list-style-type: decimal;
    margin-left: 50px;
  }

  ul {
    list-style-type: disc;
    margin-left: 50px;
  }
}

.forward-backward-links {
  @apply mb-3 text-sm italic;
}

.small-dates {
  @apply text-xs italic;
}

footer a:hover{
  @apply underline text-white;
}
