%footer.container
  %ul
    %li Copyright © #{Time.now.year} by Nathan and Katelin Day - Powered by #{link_to 'Middleman', 'https://github.com/speedy1812/daysinukraine.com', target: :_blank}
%footer.placeholder
