<footer class="container">
  <ul>
    <li>Content copyright © <%= Time.now.year %> by Nathan and Katelin Day - Powered by <%= link_to 'Middleman', 'https://github.com/speedy1812/daysinukraine.com', target: :_blank %></li>
  </ul>
</footer>
<footer class="placeholder"></footer>
