<footer class="flex justify-center p-2 mt-6 text-xs text-center text-gray-300 bg-gray-700">
  <ul>
    <li>© 2017-<%= Time.current.year %> by Nathan and Katelin Day - Powered by <%= link_to "Middleman", "https://middlemanapp.com/", target: :_blank, rel: :noopener %></li>
  </ul>
</footer>
