.footer__top-padding-div
%footer.footer
  %ul
    %li Copyright © #{Time.now.year} by Nathan and Katelin Day - Powered by #{link_to 'Middleman', 'https://github.com/speedy1812/daysinukraine.com', target: :_blank}
%footer.footer__bottom-padding-div
