---
title: About Us
---

<h1>About Us</h1>

<p>Nathan and Katelin are serving as missionaries to Ukraine. Nathan began ministering in Lviv, Ukraine in 2004. He met Katelin in 2008, they were married one year later, and shortly thereafter returned to Lviv as a couple. The Days are members of Euro Team Outreach (<a href="http://euroteamoutreach.org/" target="_blank">ETO</a>), and they work with ETO’s other team members to publish the Gospel in Ukraine.</p>
<p>One of Nathan’s primary responsibilities is the management of the Ukrainian branch of <em><a href="http://getbiblefirst.com/" target="_blank">Bible First</a></em>, ETO’s Bible correspondence course. <em>Bible First</em> reaches over hundreds of people throughout Ukraine with its unique plan of chronological Bible study. Being a fluent speaker of Ukrainian, Nathan plays an important role in the translation of materials into Ukrainian. As the numbers man, he keeps track of statistics that help ETO refine its methods to become more effective, and he also takes care of the ministry’s finances as its Treasurer. Nathan is also heavily involved in ETO’s summer project, <a href="http://cmoproject.org/" target="_blank">Carpathian Mountain Outreach</a>.</p>
<p>Katelin’s main goal is to fulfill her calling as a wife and mother. She enjoys grocery shopping at the open-air markets, taking the children on outings in Lviv's beautiful parks, creating in the kitchen, and homeschooling the children.</p>
<p>If you would like to receive updates on the Day family, you may <a href="http://day.euroteamoutreach.org/?page_id=54" target="_blank">subscribe </a>to their blog. If you wish to contact them, you may do so <a href="http://day.euroteamoutreach.org/?page_id=5" target="_blank">here</a>.</p>
<p><strong>Ukrainian mailing address:</strong></p>
<p>PO Box 121<br />
L’viv 79000<br />
Ukraine</p>
<p><strong>Sending Church:</strong></p>
<p><a href="http://gen.church/">Generations Bible Church</a><br />
9125 E. Greenland Rd<br />
Franktown, CO 80116</p>
<p><strong>Family Pictures</strong></p>
<p>If you would like a picture of us for your refrigerator or missionary prayer book, feel free to use one of the pictures below. To get a higher-resolution image suitable for printing, click the picture you want to print and a high-resolution copy will appear, which you can save to your computer for printing. Both images are sized for printing as a 4 x 6 photo.</p>
