---
title: Contact Us
---

<h1>Contact Us</h1>

<p>To contact the Day family, <%= link_to 'click here.', 'https://docs.google.com/forms/d/e/1FAIpQLScegtET6xRZ0I0M_7_tMiPAfBeGqRVmiWCV6Sc9VClkRjYtaQ/viewform', target: :_blank %></p>

<p>Of course, you can also get in touch with us using good, old-fashioned snail mail:</p>
<p>Nathan and Katelin Day<br />
PO Box 121<br />
Lviv 79000<br />
Ukraine</p>
