---
title: Donate
---

<h1>Donate</h1>
<p>From time to time, people ask us how they can support our ministry. If you feel that the Lord has directed you to send a financial gift to us, you have several options.</p>
<p>You can mail a check, made out to Nathan Day, to the following address:</p>
<p>
	Nathan Day
	<br/>
	19845 Hopi Pines Grv
	<br/>
	Peyton, CO 80831
</p>
<hr/>
<p>If you wish your donation to be tax-deductible, you can mail a check, made out to Generations Bible Church, with a separate note requesting that the money be used to support the Day Family's ministry, to the following address:</p>
<p>
	Generations Bible Church
	<br/>
	9125 E. Greenland Rd
	<br/>
	Franktown, CO 80116
</p>
<hr/>
<p>
	Or, if you prefer, you can
	<%= link_to "send money online via PayPal.", "http://paypal.me/nathanday", target: :_blank  %>
	(Money sent to us via PayPal is not tax-deductible).
</p>
<hr/>
<p>
	Last, but not least, take a look at the
	<%= link_to "supplements", "https://shopmyplexus.com/nathanday/products/nutrition/index.html", target: :_blank %>
	that Plexus Worldwide offers. If you purchase them through our site, not only will you be helping to support us financially, but you just might improve your health as well!
</p>
