---
title: Donate
---

<h1>Donate</h1>
<p>From time to time, people ask us how they can support our ministry. If you feel that the Lord has directed you to send a financial gift to us, you have several options:</p>
<hr class="my-6">
<p>If you wish your donation to be tax-deductible, you can mail a check made out to Cherry Valley Community Church (formerly Generations Bible Church), with a note requesting that the money be used to support the ministry in Ukraine, to the following address:</p>
<p>
  Cherry Valley Community Church
  <br/>
  9125 E. Greenland Rd
  <br/>
  Franktown, CO 80116
</p>
<hr class="my-6">
<p>
  Or, if you prefer, you can
  <%= link_to "send money online via PayPal.", "http://paypal.me/nathanday", target: :_blank, rel: :noopener  %>
  (Money sent to us via PayPal is not tax-deductible).
</p>
