---
title: Donate
---

<h1>Donate</h1>
<p>From time to time, people ask us how they can support our ministry. If you feel that the Lord has directed you to send a financial gift to us, you have a couple options:</p>
<hr class="my-6 border-t-2 border-gray-300">
<p>If you wish your donation to be tax-deductible, you can mail a check made out to Fairpark Baptist Church, with a note requesting that the money be used to support the Day Family's ministry to Ukraine, to the following address:</p>
<p>
  Fairpark Baptist Church
  <br/>
  6000 Crowley Rd.
  <br/>
  Fort Worth, TX 76134
</p>
<hr class="my-6 border-t-2 border-gray-300">
<p>
  Or, if you prefer, you can
  <%= link_to "send money online via PayPal.", "http://paypal.me/nathanday", target: :_blank, rel: :noopener  %>
  (Money sent to us via PayPal is not tax-deductible).
</p>
