---
title: Donate
---

<h1>Donate</h1>
<p>From time to time, people ask us how they can support our ministry. If you feel that the Lord has directed you to send a financial gift to us, you have a couple options:</p>
<hr class="my-6 border-t-2 border-gray-300">
<p>Mail a check, made out to Nathan Day, to our address in the States:</p>
<p>
  Nathan Day
  <br/>
  19845 Hopi Pines Grv
  <br/>
  Peyton, CO 80831
</p>
<hr class="my-6 border-t-2 border-gray-300">
<p>
  Or, if you prefer, you can
  <%= link_to "send money online via PayPal.", "http://paypal.me/nathanday", target: :_blank, rel: :noopener  %>
</p>
<hr class="my-6 border-t-2 border-gray-300">
<p>
  <i>
    Unfortunately, neither funds sent via check, nor via PayPal are tax-deductible.
  </i>
</p>
