<!doctype html>
<html>
  <head>
    <%= partial "partials/head" %>
  </head>
  <body>
    <%= partial "partials/header" %>
    <section class="container">
      <div id="main" role="main">
        <%= yield %>
      </div>
      
      <%= partial "partials/sidebar" %>
    </section>
  </body>
</html>
