---
title: Plexus
---

<h1>Plexus</h1>

<p>If you are looking to improve your health, consider the following products:</p>
<p>The first one is <a href="http://shopmyplexus.com/nathanday/products/weight-management/plexus-slim/index.html" target="_blank">Plexus Slim</a>. It was designed to help people manage their blood sugar, but many report that it gives them increased energy and clarity of mind. And if the prospect of increased energy doesn't tempt you, take a look at what else Plexus Slim is good for:</p>
<ul>
  <li class="bullet-list">Safe and effective weight control</li>
  <li class="bullet-list">Helps maintain healthy blood sugars</li>
  <li class="bullet-list">Helps maintain healthy blood pressure</li>
  <li class="bullet-list">Promotes beneficial cholesterol and lipid levels</li>
</ul>
<p><%= image_tag "images/triplex.jpg" %></p>
<br>
<p>The next two are a team: <a href="http://shopmyplexus.com/nathanday/products/nutrition/plexus-probio-5/index.html" target="_blank">ProBio5</a> and <a href="http://shopmyplexus.com/nathanday/products/nutrition/plexus-bio-cleanse/index.html" target="_blank">BioCleanse</a>. They work together to clean out the junk in our digestive systems and promote healthy <a href="https://en.wikipedia.org/wiki/Gut_flora" target="_blank">intestinal flora</a>. After my mom was diagnosed with an autoimmune disease in 2009, I began to learn about the huge role that our intestinal flora play in keeping us healthy. For example, did you know that poor intestinal flora has been linked to <a href="http://www.mindbodygreen.com/0-15569/3-ways-your-gut-bacteria-make-you-fat.html" target="_blank">weight gain</a>, <a href="http://www.medicalnewstoday.com/articles/115076.php" target="_blank">asthma</a>, <a href="http://sciencelife.uchospitals.edu/2014/08/25/gut-bacteria-that-protect-against-food-allergies-identified/" target="_blank">allergies</a>, <a href="http://www.medicalnewstoday.com/articles/286912.php" target="_blank">Parkinson's</a>, and other disorders?</p>
<p>Last, but not least, Plexus has a <a href="http://shopmyplexus.com/nathanday/guarantee/index.html" target="_blank">60-day satisfaction guarantee</a>. So if you try the products and you don't like the results, you just ask for your money back. So you've got nothing to lose!</p>
<p><em>Full disclaimer: These statements have not been evaluated by the Food and Drug Administration. These products are not intended to diagnose, treat, cure, or prevent any disease. Nathan Day is an Independent Ambassador with Plexus. Any supplements purchased through the above links will help support our family's ministry. :)</em></p>
