---
title: Sermons
---

<h1>Sermons</h1>

<p>The following are recordings of some of the sermons that Nathan has delivered. Left-click the hyperlink to listen or right-click to download the MP3 file to your computer.</p>
<p><a href="https://www.dropbox.com/s/dljtd2ovpi7i6ak/Must%20Israel%27s%20experience%20be%20ours.mp3?dl=0">Must Israel&#8217;s Experience Be Ours?</a></p>
<p><a href="https://www.dropbox.com/s/n9xtj27onk5pat2/Hatred.mp3?dl=0">Hatred</a></p>
<p><a href="https://www.dropbox.com/s/j4sma9x1fmx98v3/One%20God%2C%20One%20Bible.mp3?dl=0">One God, One Bible</a></p>
<p><a href="https://www.dropbox.com/s/qqdgx7l8db47846/Paradigms.mp3?dl=0">Paradigms</a></p>
<p><a href="https://www.dropbox.com/s/vp5ut0m5r5vtq3r/Leadership.mp3?dl=0" target="_blank">Leadership</a></p>
<br>
<h2>Storybook Lodge messages:</h2>
<p><a href="https://www.dropbox.com/s/ztvlcrmb9p6jus8/Finding%20the%20Will%20of%20God.mp3?dl=0" target="_blank">Finding the Will of God</a></p>
<p><a href="https://www.dropbox.com/s/n01hvx0trzrkt42/Courtship.mp3?dl=0" target="_blank">Courtship</a></p>
<p><a href="https://www.dropbox.com/s/pkg129j31j156xu/Evangelism.mp3?dl=0" target="_blank">Evangelism</a></p>
<p><a href="https://www.dropbox.com/s/r0p36md501wyvcx/Standards.mp3?dl=0" target="_blank">Standards</a></p>
<br>
<p><a href="https://vimeo.com/35405385" target="_blank">Ministry report</a> given on January 1, 2012</p>
