---
title: Subscribe
---

<h1>Subscribe</h1>
<p>
  To be notified when a new post is available, click the link below.
</p>
<p>
  <%= link_to "Subscribe to our blog.", "https://daysinukraine.us6.list-manage.com/subscribe?u=f894325bd45c8fa3a88fc4d00&id=14b6920411", target: "_blank", rel: "noopener" %>
</p>
<p>Don't want to get emails from us anymore?</p>
<p>
  <%= link_to "Unsubscribe from our blog.", "http://euroteamoutreach.us6.list-manage.com/unsubscribe?u=f894325bd45c8fa3a88fc4d00&id=14b6920411", target: "_blank", rel: "noopener" %>
</p>
